@import '~antd/dist/antd.css';
@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_yqn92wjzqr.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_yqn92wjzqr.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('//at.alicdn.com/t/webfont_yqn92wjzqr.woff2') format('woff2'),
    url('//at.alicdn.com/t/webfont_yqn92wjzqr.woff') format('woff'),
    /* chrome、firefox */ url('//at.alicdn.com/t/webfont_yqn92wjzqr.ttf') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('//at.alicdn.com/t/webfont_yqn92wjzqr.svg#庞门正道标题体2') format('svg'); /* iOS 4.1- */
}
.App {
  text-align: center;
  color: #fedcba;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  line-height: 25px;
}

th {
  background-color: #eee;
}

td,
th {
  text-align: center;
}

td:first-child {
  text-align: left;
}

input {
  min-width: 300px;
  border: 1px solid #999;
  border-radius: 2px;
  line-height: 25px;
}
#main {
  display: flex;
  justify-content: flex-end;
  //font-family: 'xingyan';
  #merge {
    width: 100%;
  }
  .box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    .btns {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .btn {
      margin-left: 10px;
    }
    div {
      margin-left: 10px;
    }
  }
  .option {
    margin-top: 10px;
    .option-li {
      margin-top: 10px;
      border: 1px solid #eee;
      padding: 0 20px 10px;
      margin-left: 10px;
    }
    .row {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 10px;
      .h3 {
        color: #333;
        font-size: 16px;
        width: 100px;
        margin-right: 10px;
      }
      .ant-btn {
        margin-right: 10px;
      }
      .ant-input {
        width: 200px;
        min-width: auto;
      }
    }
  }
  .example {
    width: 400px;
    min-height: 300px;
    background: #eeeeee;
  }
}
